body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    --minFontSize: 1rem;
    --maxFontSize: 2rem; /* 27px; */
    --scaler: -2vw + 2.5rem;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

header {
    background-color: #69B0BD;
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem;

    display: grid;
    grid-template-columns: fit-content(100px) auto;
    gap: 10px;
}

header>nav {
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: 175px 175px 175px auto;
    justify-items: center;
}

header>nav>a {
    color: #041C24;
}

footer {
    background-color: #69B0BD;
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem;

    /* display: grid;
    grid-template-columns: fit-content(100px) auto;
    gap: 10px; */
}

footer>a {
    color: #041C24;
}

figure figcaption {
	color: black;
}