#map {
	height: 400px;
}

#submit-status {
	display: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
}

.fade-out-text {
	animation: fadeOut 5s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}